/******************************************************************************/
/* ひと目でわかるMicrosoft Visual C# 2017 Webアプリケーション開発入門         */
/* サンプルデータベース作成                                                   */
/*                                                                            */
/* 作成するデータベース：customer_action                                      */
/******************************************************************************/
/* サンプルテーブル作成                                                       */
/* 対象データベース：customer_action                                          */
/*                                                                            */
/* システムで使用するテーブル                                                 */
/*                   tbl_customer      （顧客情報テーブル）                   */
/*                   tbl_staff         （スタッフマスターテーブル）           */
/*                   tbl_company       （会社マスターテーブル）               */
/*                   tbl_action        （営業報告履歴テーブル）               */
/*                   tbl_staff_backup  （スタッフマスター バックアップ用）    */
/******************************************************************************/

/****************************************/
/* 対象データベースの指定               */
/****************************************/
use [master]
GO

/****************************************/
/* 実行者の権限チェック                 */
/****************************************/
-- 変数定義
DECLARE @SRsysadmin int , @SRdbcreator int

-- 実行者が、管理者権限またはデータベースの作成者以外は実行できない
-- 現在のユーザーが sysadmin または dbcreator のメンバーであるかどうかを確認する
SELECT @SRsysadmin=IS_SRVROLEMEMBER('sysadmin')
SELECT @SRdbcreator=IS_SRVROLEMEMBER( 'dbcreator' )

IF @SRsysadmin=0 AND @SRdbcreator=0
    -- いずれのメンバーでもないとき
    BEGIN
        -- RAISERRORで127を指定してOSQLを強制終了する
        RAISERROR( 'データベース作成の権限がありません。処理を終了します',16,127)
        RETURN
    END

/****************************************/
/* customer_action データベースの作成   */
/****************************************/
-- すでに customer_action データベースが存在する場合は削除する
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'customer_action')
	DROP DATABASE [customer_action]

-- データベースの作成
CREATE DATABASE [customer_action]
PRINT '    customer_action データベースを作成しました'
GO

/****************************************/
/* 対象データベースの指定               */
/****************************************/
USE [customer_action]
GO

/****************************************/
/* 既存テーブルの削除                   */
/* 存在する場合には削除する             */
/****************************************/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_action]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_action]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_company]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_company]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_customer]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_customer]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_staff]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_staff]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_staff_backup]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_staff_backup]
GO

/****************************************/
/* テーブルの作成                       */
/****************************************/
CREATE TABLE [dbo].[tbl_action](
	[ID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
	[action_date] [datetime] NOT NULL,
	[action_content] [nvarchar](400) COLLATE Japanese_CI_AS NULL,
	[action_staffID] [int] NULL,
 CONSTRAINT [PK_tbl_action] PRIMARY KEY CLUSTERED 
(
	[ID] 
)WITH  FILLFACTOR = 90  ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tbl_company](
	[companyID] [int] NOT NULL,
	[company_name] [nvarchar](100) COLLATE Japanese_CI_AS NOT NULL,
	[company_kana] [nvarchar](100) COLLATE Japanese_CI_AS NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_tbl_company] PRIMARY KEY CLUSTERED 
(
	[companyID] 
)WITH  FILLFACTOR = 90  ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tbl_customer](
	[customerID] [int] NOT NULL,
	[customer_name] [nvarchar](20) COLLATE Japanese_CI_AS NOT NULL,
	[customer_kana] [nvarchar](20) COLLATE Japanese_CI_AS NOT NULL,
	[companyID] [int] NULL,
	[section] [nvarchar](50) COLLATE Japanese_CI_AS NULL,
	[post] [nvarchar](30) COLLATE Japanese_CI_AS NULL,
	[zipcode] [nvarchar](8) COLLATE Japanese_CI_AS NULL,
	[address] [nvarchar](100) COLLATE Japanese_CI_AS NULL,
	[tel] [nvarchar](20) COLLATE Japanese_CI_AS NULL,
	[staffID] [int] NULL,
	[first_action_date] [datetime] NULL,
	[memo] [nvarchar](max) COLLATE Japanese_CI_AS NULL,
	[input_date] [datetime] NULL,
	[input_staff_name] [nvarchar](20) COLLATE Japanese_CI_AS NULL,
	[update_date] [datetime] NULL,
	[update_staff_name] [nvarchar](20) COLLATE Japanese_CI_AS NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_tbl_customer] PRIMARY KEY CLUSTERED 
(
	[customerID] 
)WITH  FILLFACTOR = 90  ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tbl_staff](
	[staffID] [int] NOT NULL,
	[staff_name] [nvarchar](20) COLLATE Japanese_CI_AS NOT NULL,
	[userID] [nvarchar](10) COLLATE Japanese_CI_AS NULL,
	[password] [nvarchar](10) COLLATE Japanese_CI_AS NULL,
	[admin_flag] [bit] NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_tbl_staff] PRIMARY KEY CLUSTERED 
(
	[staffID] 
)WITH  FILLFACTOR = 90  ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tbl_staff_backup](
	[staffID] [int] NOT NULL,
	[staff_name] [nvarchar](20) COLLATE Japanese_CI_AS NOT NULL,
	[userID] [nvarchar](10) COLLATE Japanese_CI_AS NULL,
	[password] [nvarchar](10) COLLATE Japanese_CI_AS NULL,
	[admin_flag] [bit] NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_tbl_staff_backup] PRIMARY KEY CLUSTERED 
(
	[staffID] 
)WITH  FILLFACTOR = 90  ON [PRIMARY]
) ON [PRIMARY]
GO

PRINT '    customer_action データベースに 5つのテーブルを作成しました'
GO

/****************************************/
/* サンプルデータの追加                 */
/****************************************/
SET NOCOUNT ON

-- 既存データの削除（全テーブル）
DELETE FROM tbl_customer
DELETE FROM tbl_staff
DELETE FROM tbl_company
DELETE FROM tbl_action
GO

PRINT ''
PRINT '    customer_action データベースにサンプルデータを追加します。'
GO

PRINT ''
PRINT '        tbl_customer のデータを作成します。'
INSERT INTO tbl_customer ([customerID], [customer_name], [customer_kana], [companyID], [section], [post], [zipcode], [address], [tel], [staffID], [first_action_date], [memo], [input_date], [input_staff_name], [update_date], [update_staff_name], [delete_flag])
    VALUES(1, N'橋本　XX至', N'ハシモト　XXシ', 1, N'アプリケーションソフトウェア事業本部', Null, '000-0000', N'東京都千代田区九段南XX-XX-XXX', '03-0000-1111', 1, '2016/12/17 00:00:00', N'・是非とも顧客として獲得したい。
・最重要の顧客
・ご挨拶時、好感触', '2017/01/01 00:00:00', N'古賀', '2018/09/01 00:00:00', N'古賀', 0)
INSERT INTO tbl_customer ([customerID], [customer_name], [customer_kana], [companyID], [section], [post], [zipcode], [address], [tel], [staffID], [first_action_date], [memo], [input_date], [input_staff_name], [update_date], [update_staff_name], [delete_flag])
    VALUES(2, N'貫井　XX一', N'ヌクイ　XXイチ', 2, N'システムグループ', N'主任', '000-0000', N'東京都立川市錦町XX-XX-XXX', '0425-00-1111', 6, '2017/05/15 00:00:00', Null, '2017/06/01 00:00:00', N'小川', '2018/09/01 00:00:00', N'小川', 0)
INSERT INTO tbl_customer ([customerID], [customer_name], [customer_kana], [companyID], [section], [post], [zipcode], [address], [tel], [staffID], [first_action_date], [memo], [input_date], [input_staff_name], [update_date], [update_staff_name], [delete_flag])
    VALUES(3, N'久保山　XX聡', N'クボヤマ　XXソウ', 3, N'システム事業推進部', Null, '000-0000', N'東京都文京区本郷XX-XX-XXX', '03-0000-1111', 1, '2017/07/17 00:00:00', Null, '2017/08/01 00:00:00', N'古賀', '2018/09/01 00:00:00', N'古賀', 0)
PRINT '        tbl_customer に 38 件のデータを追加しました。'
GO


PRINT ''
PRINT '        tbl_staff のデータを作成します。'
INSERT INTO tbl_staff ([staffID], [staff_name], [userID], [password], [admin_flag], [delete_flag])
    VALUES(1, N'古賀', 'koga', 'a0022', 1, 0)
INSERT INTO tbl_staff ([staffID], [staff_name], [userID], [password], [admin_flag], [delete_flag])
    VALUES(2, N'木島', 'kijima', 'b2468', 0, 0)
INSERT INTO tbl_staff ([staffID], [staff_name], [userID], [password], [admin_flag], [delete_flag])
    VALUES(3, N'中川', 'nakagawa', 'c4429', 0, 0)
PRINT '        tbl_staff に 16 件のデータを追加しました。'
GO


PRINT ''
PRINT '        tbl_company のデータを作成します。'
INSERT INTO tbl_company ([companyID], [company_name], [company_kana], [delete_flag])
    VALUES(1, N'株式会社百面相△□', N'ヒャクメンソウ△□', 0)
INSERT INTO tbl_company ([companyID], [company_name], [company_kana], [delete_flag])
    VALUES(2, N'ググッド◎◇株式会社', N'ググッド◎◇', 0)
INSERT INTO tbl_company ([companyID], [company_name], [company_kana], [delete_flag])
    VALUES(3, N'株式会社パル×○', N'パル×○', 0)
PRINT '        tbl_company に 17 件のデータを追加しました。'
GO


PRINT ''
PRINT '        tbl_action のデータを作成します。'
INSERT INTO tbl_action ([ID], [customerID], [action_date], [action_content], [action_staffID])
    VALUES(1, 22, '2018/07/23 00:00:00', N'顧客22_アクション001', 15)
INSERT INTO tbl_action ([ID], [customerID], [action_date], [action_content], [action_staffID])
    VALUES(2, 12, '2018/07/23 00:00:00', N'顧客12_アクション001', 7)
INSERT INTO tbl_action ([ID], [customerID], [action_date], [action_content], [action_staffID])
    VALUES(3, 37, '2018/07/25 00:00:00', N'顧客37_アクション001', 7)
PRINT '        tbl_action に 300 件のデータを追加しました。'
GO


/****************************************/
/* 既存のビューの削除                   */
/* 存在する場合には削除する             */
/****************************************/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[vw_customer_view]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[vw_customer_view]
GO

/****************************************/
/* ビューの作成                         */
/****************************************/
CREATE VIEW [dbo].[vw_customer_view]
AS
SELECT                  dbo.tbl_customer.*, ISNULL(dbo.tbl_company.company_name, '') AS company_name, dbo.tbl_company.company_kana, dbo.tbl_staff.staff_name
FROM                     dbo.tbl_customer LEFT OUTER JOIN
                                  dbo.tbl_company ON dbo.tbl_customer.companyID = dbo.tbl_company.companyID LEFT OUTER JOIN
                                  dbo.tbl_staff ON dbo.tbl_customer.staffID = dbo.tbl_staff.staffID
WHERE                   (dbo.tbl_customer.delete_flag = 0)
GO

PRINT ''
PRINT '    customer_action データベースに vw_customer_view ビューを追加しました'
GO
